/public/hot
build
/public/storage
/storage
/packages/krasnikov/json-api-server/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
.php_cs.cache
vendor
